*.pyc
personalwebsite/static/img
personalwebsite/apps/mainsite/migrations
personalwebsite/media
personalwebsite/db.sqlite3
personalwebsite/settings/dev.py
personalwebsite/settings/prod.py
manage.py
personalwebsite/apps/blendy/migrations