/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

pre {
    padding: 0px;
    border: 0px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #f9fdf0;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 51px;  
  height: 100%;
}

.text-center {
  padding-top: 0px;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.navbar-toggle {
  float: left;
  margin-right: 5px;
}

.navbar-brand {
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

.overlay {
  position:absolute;
  top:-5px;
  left:0;
  right:0;
  bottom:0;
  z-index:1020;
  pointer-events: none;    
  color:white;  
}

#sidebar {
  position: fixed;
  width: 270px;
  padding-top: 0px;
  z-index: 101;
}

#main-content {
  margin-left: 270px;
  /*display: table-cell;*/ /*po co to bylo?*/
  padding-bottom: 15px;
}



.col-md-12, .col-sm-12, .col-lg-12{
  min-height: 100%;
}

.noscroll {
  overflow: hidden;
}

/* collapsed sidebar styles */
@media screen and (max-width: 992px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    padding-top: 5px;
  }

  .row-offcanvas
  #sidebar {
    display: none;
  }

  .row-offcanvas.active
  #sidebar {
    display: inline;
    position: fixed;
    left: 0%;
    width: 30%;
  }

  .row-offcanvas
  #main-content {
    width: 100%;
    margin-left: 0;
  }

  .row-offcanvas.active
  #main-content {
    display: block;
    left: 28%;
    margin-right: 0;
  }

  .row-offcanvas.active
  .overlay {
    background: rgba(0, 0, 0, .5);
    pointer-events: visible;
  }

  .profile-usericons {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {

  .row-offcanvas 
  #sidebar {
    width: 0px;
    left: -250px;
    height: 0px;
  }

  .row-offcanvas.active
  #sidebar {
    position: fixed;
    overflow-y: auto;
    width: 220px;
    height: 100%;
    left: 0px;
  }

  .row-offcanvas.active
  #main-content {
    left: 220px;

  }
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5d7822;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5d7822;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-usermenu {
  height: 50%;
  margin-top: 30px;
  
}

.profile-usermenu ul li {
  border-bottom: 1px solid #5d7822;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #5d7822;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #f9fdf0;
  color: #384814;
}

.profile-usericons {
  padding-top: 25px;
}

.profile-usericons i {
  padding: 10px;
}

.profile-usericons a {
  color: #5d7822;
}

.profile-usericons a:hover {
  color: #384814;
}

.right-align {
  float: right;
}


.form-control:focus {
  border-color: #384814;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(22,28,8,.6);
}

.pagination li a {
  color: #000;
}

.pagination li a:hover {
  color: #000;
  background-color: #f9fdf0;
}

.pagination li.active a {
  color: #f9fdf0;
  background-color: #5d7822;
}

.pagination li.active a:hover {
  color: #f9fdf0;
  background-color: #5d7822;
}

.btn.btn-default:hover{
  background-color: #f9fdf0;
}

.results-label {
  font-size: 50px;
  color: #5d7822;
}

.btn-custom {
  color: #f9fdf0;
  background-color: #5d7822;
}

.btn-custom:hover {
  color: #f9fdf0;
  background-color: #5d7822;
}

#projects.container-fluid {
  padding-left: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
