{% extends 'base.html' %}
{% load staticfiles %}


{% block page_stylesheets %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block page_content %}
{% if posts %}
	{% for post in posts %}
	<div class="blog-content-wrapper">
		<div class="blog-post">
			<h2 class="blog-post-title">
			<a href="{% url 'post' post.slug %}">{{ post.title }}</a></h2>
			<p class="blog-post-meta">Published on: {{ post.pub_date }}<br>
			Tags: {{ post.get_tags }}</p><hr>
			{{ post.text|truncatewords:300|safe }}<br>
			
			<div class="right-align">
			<button class="btn btn-xs btn-default" align="right" onClick="location.href='{% url 'post' post.slug %}'">Read on...</button>
			</div>
			<br>
		</div>
	</div>
	{% endfor %}
{% else %}
	<h1>Nothing to see here</h1>
{% endif %}

{% endblock %}